.nav-bar{
    padding:0px;
}
body{
    margin:10px;
    color:rgb(14, 45, 128);
}
.navbar-prop{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}
h5{
    margin:5px;
}
.login-icon{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    background-image:url("https://i.imgur.com/bPBtR5M.png");
    background-size:cover;
    margin:5px;
    

}
img{
    background-size:cover;
    
    width:100%;
    padding:20px;
}
.container2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    

}
.container-wrapper {
    display: flex;
    position: relative;

}
/*@media (max-width:768px){
    .container-wrapper{
        font-size:60%;
    }
}*/

.container1 {
      
    display: flex;
    border-radius: 25px;
    border-color:black;
   
   
    
    z-index: 2;
    
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
   
    border-style:solid;
    font-family:Prata;
    padding:5px;
   
    border-width:1px;   
    width:50%;
    font-size:24px;
    color:#00AEEF;
    
}
.container2 {
    background-color:#C4ECFBB0;
    font-family: 'Inter', sans-serif;
    border:none;
    font-weight:bold;
    padding:10px;
    border-radius:20px;    
    font-size:80%;
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    width: 50%;
    z-index: 2;
}

.content1{
    width: 80%; 
    font-size: 80%;
    text-align: center;
    align-self: flex-start;
    
}
.content2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
}

.call-button{
    text-align:center;
    padding:5px;
    width: 150px;
    
    font-size: 11px;
}

p{
    
}
.box1{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    border-color:black;
    border-style:solid;
    font-family:Prata;
    padding:5px;
    border-radius:20px;
    border-width:1px;   
    width:50%;
    font-size:80%;
    color:#00AEEF;
    
   

}
.box2{
    background-color:#C4ECFBB0;
    font-family: 'Inter', sans-serif;
    border:none;
    font-weight:bold;
    padding:10px;
    border-radius:20px;
    width:50%;
    font-size:80%;
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
button{
    border-radius:15px;
    background-color:rgb(36, 99, 180); margin:10px;
    color:white;
    border:none;
    
   

}
.sofa-image{
    width: 100%; 
    max-width: 100%;
    overflow: hidden;
   
}

.sofa-image img {
    width: 100%;
    height: auto;
}
.img1{
    padding:0px;
    width:100%;
    height:auto;
}
.keyword-wrapper{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    left: 10%; 
    top: calc(70%); 
        
}
.keyword-box{
    
    border-radius:20px;
    background-color:rgb(243, 241, 241);
    /*display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;*/
    border: 1px solid rgba(255, 255, 255, 1); /* Set your desired border style */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /* Set your desired shadow properties */
    z-index: 3; 
}

.keyword-row1{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:relative;
    margin:0px;
    
}

.keyword-row2{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start  ;
    position:absolute;
    left:0px;
    margin:0px;
    /*width:50%;*/
    
}
.keyword-row3{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    position:relative;
    padding:15px;
    padding-bottom:0px;
    margin-right:0px;
    
    
}
.search-icon{
    height:20px;
    width:20px;
}
.search-box{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    position:relative;
    /*border-width: 1px;
    border-style:solid;*/
    height: 30px;
}
.name2{
    width:130px;
    text-align:right;
}



.keyword{
    border-bottom: 1px solid rgb(121, 96, 211);
    width:170px;
    text-align:left;
}
.button-con{
    display:flex;
    justify-content:flex-end;

}
.rent-button{
    background-color:rgba(217, 217, 217, 1);
    
    color:black;
    border:none;
    border-radius:15px;
    font-size:8px;margin:3px;
    padding:3px;
    
}
h5{
    font-size:10px;
}
.sale-button{
    background-color:rgba(217, 217, 217, 1);
    color:black;
    border:none;
    border-radius:15px;
    font-size:8px;
    margin:3px;
    padding:3px;
}
/*.hr{
    width:50%;
    border-style:solid;
    color:rgb(95, 95, 202);
    text-align:start;
    margin-left:0px;
      
}*/
.advance-search{
    background-color:rgb(113, 219, 233);
    border:none;
    border-radius:15px;
    font-size:8px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    height:15px;
    color:rgba(0, 66, 116, 1);


}
p{
    margin-right:2px;
}
.all-button{
    background-color:rgb(69, 51, 148);
    color:white;
    border:none;
    border-radius:15px;
    font-size:8px;
    margin:3px;
    padding:3px;
    width:30px;


}

.search-icon2{
    width:5px;
    height:5px;
    
}
.search-button{
    background-color: rgba(0, 174, 239, 1);
    ;
    ;
    border:none;
    border-radius:15px;
    font-size:8px;
    margin-right:0px;
    color:white;
}
.features-row{
    position:absolute;
    left:15px;
    top:95%;

    background-color:rgb(31, 163, 157);
    border-radius:10px;
    margin-top:0px;
    font-size: 8px;
    padding:10px;
    color:white;
}
.ellipse-shape{
    background-image:url("https://i.imgur.com/afhSo2U.png");
}
h2{
    font-size:30px;
    color:rgb(16, 19, 201);
}
@media (max-width:1024px){
.rental-card-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;
    margin: 10px;

}

}
@media (min-width:1025px) {

    .rental-card-container{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        padding: 10px;
        margin: 10px;
    }
    

}
.card-image{
    height:400px;
    width:400px;
}
h4{
    margin-top:0px;
    margin-left:10px;
}
.location-icon{
    height:20px;
    width:20px;
}
.location-details-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    color:rgb(180, 142, 17);
}
h3{
    margin-right:15px;
    color:rgb(155, 27, 187);
}
.rental-card{
    background-color:rgb(241, 229, 229);
    border-radius:10px;
}
.capture-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:rgb(159, 230, 235);
    border-radius:10px;
}
.capture-card{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:30px;
    margin-left:40px;
}
.capture-image{
    
}
.marketing-icon-container{
    
}

span{
    font-size:24px;
    
}
.real-estate-image{
    height:200px;
    width:200px;
}
.why-question{
    text-align:left;
    padding:10px;
    color:rgb(148, 13, 114);
}
.link-heading{
    text-align:center;
}
.for-sale-row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}
h2{
    font-family:prata;
}
